@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #1DD0A3;
	font-family: 'Poppins', sans-serif;
    /* padding:.5rem */
}
div.navbar-brand {
    background-color: #25997C;
}
#main_title{
	background-color: #223E37;
}
#mainimage {
    height:40%;
    width: 40%;
}

a.navbar-item:hover{
	background-color: aliceblue;
	transition:.025s;
}
section{
    text-align: center;
    font-size: larger;
    font: bold;
	color: rgb(37, 35, 35);
}
section.section{
    background-color: #25997C;
	color: rgb(37, 35, 35);
	font-family: 'Poppins', sans-serif;
}
footer.footer{
    margin-top:4rem;
}
#about{
	margin: 0rem 1rem;
}
#jobs{
	margin:0rem 1rem;
}
img.frig{
    width: 70%;
    height: 70%;
}
h1.title{
	color:"#004E67";
}
footer.footer{
	background-color: #223E37;
}
footer p{
	margin: 50px;
	background-color: #1DD0A3;
	padding: 20px
}

@media (min-width: 768px) {
	/* MEDIUM SCREEN WIDTH */
	/* tablets, devices less than 992px wide */

	/* 3.  Switch to tablet mode on your browser.  Add any necessary css
	for tablet-width here. */
	img.frig{
		width: 70%;
		height: 70%;
	}
	#about{
		margin: 2rem 7rem;
	}
	#jobs{
		margin: 2rem 7rem;
	}
}

@media (min-width: 992px) {
	/* LARGE SCREEN WIDTH */
	/* laptops, desktops, devices less than 1200px wide */

	/* 4. Turn off responsive design mode on your desktop.  Add any css
	here to make your page look good on your desktop. */
	img.frig{
		width: 40%;
		height: 40%;
	}
	#about{
		margin: 2rem 11rem;
	}
	footer.footer{
		margin-top:10rem;
	}
	#jobs{
		margin:2rem 11rem;
	}
}

@media (min-width: 1200px) {
	/* EXTRA LARGE SCREEN WIDTH */
	/* large desktops, devices 1200px or wider */

	/* 5. Even smaller desktops can emulate extra-wide monitors
	in responsive design mode.  Often desktop-width is sufficient
	for ultra-wide screens, but as more and more internet users
	have larger screens, developers are beginning to style websites
	for those users. Add that css here. */
	img.frig{
		width: 30%;
		height: 30%;
	}
	#jobs{
		margin:0 11rem;
	}
	#about{
		margin-top:6rem;
	}
	footer.footer{
		margin-top:10rem;
	}
	#jobs{
		margin-top:6rem;
	}
}