@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}
div.navbar-brand {
    background-color: #212c2a;
}
#main_title{
	background-color: #223E37;
}
#mainimage {
    height:40%;
    width: 40%;
}
a.navbar-burger.is-fixed-top{
	background: radial-gradient(rgb(224, 228, 248), #223E37);
	border-radius: 10px;
}
a.navbar-item:hover{
	background-color: aliceblue;
	transition:.025s;
}
#navbarBasicExample{
	background-color: #212c2a;
}
div a.navbar-item{
	color: #0AF5BA;
}
section{
    text-align: center;
    font-size: larger;
    font: bold;
	color: rgb(37, 35, 35);
}
section.section{
	background-color: #0AF5BA;
	color: rgb(37, 35, 35);
	font-family: 'Poppins', sans-serif;
}
section.section#upper{
	background: radial-gradient(rgb(10, 245, 186), rgb(38, 111, 93));
}
footer.footer{
    margin-top:4rem;
}
#about{
	/* margin: 1rem 1rem; */
    border: #1C352F;
	border-style: solid;
	border-radius: 5px 50px 30px;
}
#jobs{
	/* margin: .25rem .25rem; */
    border: #1C352F;
	border-style: solid;
	border-radius: 5px 50px 30px;
}
img.frig{
    width: 80%;
    height: 80%;
    border: #1C352F;
	border-style: solid;
	border-radius: 30px;
	align-content: center;
	background-color: #1DD0A3;
	margin-bottom: 5rem;
}
h1.title{
	color:"#004E67";
}
footer.footer{
	background: transparent;
	border-radius: 25px;
}
footer p{
	background: radial-gradient(rgb(10, 245, 186), rgb(38, 111, 93));
	border-radius: 25px;
	padding: 60px
}

@media (min-width: 768px) {
	/* MEDIUM SCREEN WIDTH */
	/* tablets, devices less than 992px wide */

	/* 3.  Switch to tablet mode on your browser.  Add any necessary css
	for tablet-width here. */
	img.frig{
		width: 70%;
		height: 70%;
	}
	#about{
		margin: 2rem 7rem;
	}
	#jobs{
		margin: 2rem 12rem;
	}
}

@media (min-width: 992px) {
	/* LARGE SCREEN WIDTH */
	/* laptops, desktops, devices less than 1200px wide */

	/* 4. Turn off responsive design mode on your desktop.  Add any css
	here to make your page look good on your desktop. */
	img.frig{
		width: 50%;
		height: 50%;
		margin-bottom: 5rem;
	}
	section#jobs.section{
		margin:5rem 18rem;
	}
	footer.footer{
		margin-top:5rem;
	}
	section#about.section{
		margin:5rem 11rem;
	}
}

@media (min-width: 1200px) {
	/* EXTRA LARGE SCREEN WIDTH */
	/* large desktops, devices 1200px or wider */

	/* 5. Even smaller desktops can emulate extra-wide monitors
	in responsive design mode.  Often desktop-width is sufficient
	for ultra-wide screens, but as more and more internet users
	have larger screens, developers are beginning to style websites
	for those users. Add that css here. */
	img.frig{
		width: 30%;
		height: 30%;
		margin:3rem 11rem;
	}

	footer.footer{
		margin-top:10rem;
	}
	section#jobs.section{
		margin:5rem 22rem;
	}
	section#about.section{
		margin:3rem 20rem;
	}
}

@media (min-width: 1600px) {
	img.frig{
		width: 30%;
		height: 30%;
		margin:3rem 11rem;
	}
	footer.footer{
		margin-top:10rem;
	}
	section#jobs.section{
		margin:5rem 32rem;
	}
	section#about.section{
		margin:3rem 20rem;
	}
}